/*font-family: 'Lato', sans-serif;*/

*{
	box-sizing: border-box;
 }
body{
	font-size: 14px;
	font-family: 'Lato', sans-serif;
	background: #f3f3f3;
}

img{ 
	width: 100%; 
}

h1,h2,h3,h4,h5,h6{
font-family: 'Lato', sans-serif;
font-weight: 700;
margin: .8rem;
padding: 0;
}

.header {
  background: #222;
  padding: 18px 0 24px 0;
}
.logo {
	max-width: 188px;
}
	.top-nav{
		text-align: right;
		margin-bottom: 24px;
	}
.top-nav a {
  display: inline-block;
  padding: 0 16px;
  color: #fff;
  text-decoration: none;
  border-right: 1px solid #fff;
}
.top-nav a:last-child{
	  border-right: none;
}

.cart{
color:#fff;
background:#f10e34;
width: 50px;
height: 50px;
border-radius: 50%;
text-align: center;
line-height: 50px;
display: inline-block;
}

.cart i {
  font-size: 20px;
  font-weight: 700;
}
cart-price{
	cor
}
.cart-price p{
	font-size: 12px;
	margin-bottom: -2px;
	color: #e1e1e1;
}
.cart-price strong {
	font-size: 14px;
	font-weight: 700;
	color: #fff;
}
.search-form {
	margin-top: 6px;
}
.custom-search-icon {
	background: #f10e34;
	padding-left: 18px;
	padding-right: 18px;
}

/* main menu css */

.main-menu-area {
  background: #d10e34;
  padding: 1rem 0;
}
.main-menu .nav-link {
	display: block;
	padding: .5rem 1rem;
	color: #fff;
	font-weight: 700;
}
.category-nav-title h4 {
  color: #fff;
}

.category-nav {
  background: #fff;
  padding: 0 24px
}
.category-nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.category-nav ul li {
  border-bottom: 1px solid #eaeaea;
  padding: 10px 14px;
  position: relative;
}
.category-nav ul li::before{
content: "\eca7";
position: absolute;
font-family: 'icofont';
color:#a6a6a6;
top: 34%;
left: 9px;
}
.category-nav ul li a {
  font-size: 15px;
  color: #222;
}

.slider-content {
  padding: 93px 32px;
  text-align: center;
}

 .slider-content h3{
  color: #303a7a;
}
.slider-content h1 {
	font-size: 60px;	
	color: #fff;
	text-transform: uppercase;
}
.slider-content h5 {
	font-size: 21px;
	color: #fff
}

.btn-shop {
  border: 2px solid #000;
  padding: 14px 26px;
  font-weight: 700;
  margin-top: 36px;
}
.slider-bottom {
  background: #f10e34;
  color: #fff;
}
.slider-bottom-content{
	text-align: center;
}
.slider-bottom-content h3 {
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 3px;
}
.slider-bottom-content h5 {
  font-size: 15px;
  font-weight: 400;
}
/*product-wrapper-one css */

.product-wrapper-one{
	margin-top: 30px;
}
.wrapper-title {
  padding: 20px 0;
  border-bottom: 1px solid #e2d7d7;
}
.wrapper-title h3 {
	font-size: 20px;
}
.new-product-nav {
  margin-top: 6px;
}

.new-product-nav ul li a {
  text-decoration: none;
  font-size: 15px;
  color: #222;
  display: inline-block;
}

.hot-deal {
	background: #fff;
	padding: 0 24px;
}
.new-product{
	background: #fff;
	padding: 0 24px;
}
/* owl nav css */

.owl-carousel .owl-nav {
  position: absolute;
  top: -75px;
  right:0px;
}
.owl-carousel.product-list .owl-nav {
  position: absolute;
  top: -59px;
  right:0px;
}


.owl-carousel .owl-nav {
  position: absolute;
  top: -75px;
  right:0px;
}
.owl-nav .owl-prev,.owl-next {
    background: #cacaca !important;
    height: 24px;
    width: 24px;
    line-height: 24px;
    border-radius: 50%;
    color: #fff !important;
    margin: 2px;
}


.owl-nav button i {
    font-size: 18px;
    font-weight: 700;
}
.owl-nav .owl-prev,.owl-next:hover{
	background: red !important;
}